---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="About Me">
    <p>Hello there! My name is Nithin and I run this site! I am a hobbyist photographer, shooting regularly since 2023. I am still very much a beginner, which is why I created this site now so that you can join
        me on my journey! Hopefully, some of the mistakes I've made, and lessons I've learned, can be helpful for some of you out there!
        I also wanted a space to post my photos, without having to fit within the constraints of social media platforms.
    </p>

</BaseLayout>