---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout pageTitle="My Gear">
    <Prose>
        <h2>Main Setup</h2>
        <p>
            I use the Fujifilm X-Series as my camera system, having switched
            from Micro Four Thirds in 2023.
            <h3>Body: Fujifilm X-T5</h3>
            <p>
                This was a camera that I considered aspirational when I started
                photography in 2022, so I feel lucky to own one now. The 40MP
                sensor and IBIS provide great image quality, in a relatively
                compact package. It's quite feature-rich for the size, and a joy
                to use.
            </p>
            <h3>Normal Prime: Fujifilm XF 33mm f/1.4 R LM WR</h3>
            <p>
                I gravitate to 50mm (FF equivalent) primes, and this one is
                stellar. I was using the 35mm f/1.4 R, which I loved. However, I
                upgraded to this lens because of the weather-sealing. I was
                initially concerned about its size, but in practice I've found
                it to be small enough for all-day use.
            </p>
            <h3>General Purpose Zoom: Fujifilm XF 16-80 f/4 R OIS WR</h3>
            <p>
                This is a lens that has a mixed reputation online. I bought my
                copy on eBay for a low price and it's proved to be a handy
                addition to my kit. The build quality, versatile range and
                excellent image stabilisation make it a reliable performer.
                Maybe I got lucky, but I am satisfied with the image quality of
                mine. My go-to lens for travel and hiking, particularly in a
                group setting where I don't want to spend time switching lenses.
            </p>
            <h3>Telephoto Zoom: Fujifilm XF 70-300 f/4-5.6 R LM OIS WR</h3>
            <p>
                I rented this lens for a couple of days before purchasing and
                was instantly sold on it. It's lightweight, reasonably compact
                and rugged, but provides a versatile focal range of 105-450 FF
                equivalent. Great for long-distance landscape, travel and some
                wildlife. Forms a great pairing with the 16-80.
            </p>
        </p>
        <h2>Other Gear</h2>
        <p>
            Here are some other pieces of gear that I don't use for most
            photowalks, but in specific scenarios.
        </p>
        <h3>Daily Carry: Fujfilm X100F</h3>
        <p>
            A great daily carry camera. I keep it in a leather case and just
            throw it in my backpack or sling when I'm not taking my full set-up.
            The autofocus isn't fast but it does work (unlike my old Ricoh GR2),
            the flash is great for that stark, 'retro' look and the image
            quality still holds up today.
        </p>
        <h3>Film Camera: Pentax ME Super</h3>
        <p>
            A cheap eBay purchase, it came with the 50mm f/1.7 lens. I've put a
            couple of rolls of film through this, and would like to use it a bit
            more going forward.
        </p>
        <h3>Vintage Lenses</h3>
        I have a few vintage lenses that I've acquired for cheap, and use on occasion
        when I feel like mixing things up. Eventually I'd like a cheap full-frame
        mirrorless camera to take advantage of the full image circle of these lenses.
        <ul>
            <li>SMC Pentax-M 50mm f/1.7</li>
            <li>SMC Pentax-M 135mm f/3.5</li>
            <li>Helios 44-M 58mm f/2</li>
            <li>Carl Zeiss Flektogon MC 35mm f/2.4</li>
        </ul>
    </Prose></BaseLayout
>
