---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getAlbumImages, getPortfolioImages } from "../utils/albums";
import { CldImage } from "astro-cloudinary";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import Lightbox from "../components/Lightbox.astro";

// Fetch the portfolio album

// Ensure the portfolio album exists

// Fetch images for the portfolio album
// const images = await getAlbumImages(portfolio.id);
// Fetch images for the portfolio album
const rawImages = await getPortfolioImages();

interface PortfolioImage {
  src: string;
  caption?: string;
  width: number;
  height: number;
  format: string;
}

const images = rawImages
  ? rawImages.map((image: PortfolioImage) => {
      const publicId = image.src;
      const lightboxAvif = getCldImageUrl({
        src: publicId,
        format: "avif",
        width: 1920,
        quality: "auto",
      });
      const lightboxWebp = getCldImageUrl({
        src: publicId,
        format: "webp",
        width: 1920,
        quality: "auto",
      });
      return {
        ...image,
        src: publicId,
        lightboxAvif: lightboxAvif,
        lightboxWebp: lightboxWebp,
      };
    })
  : [];
---

<BaseLayout
  pageTitle="Minimally Processed"
  hideTitle="true"
  class="text-center p-8 md:p-16"
>
  <div class="text-center">
    <div
      class="mx-auto container py-8 px-4 sm:px-8 sm:columns-2 lg:columns-3 text-center gap-4"
    >
      {
        images &&
          images.map((image: any) => (
            <CldImage
              src={image.src}
              alt={image.caption || `Image from portfolio album`}
              width={600}
              class="rounded border border-transparent mb-4 hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg cursor-zoom-in"
              loading="lazy"
              data-lightbox
              data-lightbox-avif={image.lightboxAvif}
              data-lightbox-webp={image.lightboxWebp}
            />
          ))
      }
    </div>
  </div>
  <div>
    <Lightbox />
  </div>
</BaseLayout>
