---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Welcome to Minimally Processed!">
	<p>Site is under construction, please come back later!

		For now, feel free to visit my <a href="https://bsky.app/profile/minimallyprocessed.bsky.social"> BlueSky!</a>
	</p>
</BaseLayout>
