---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getAlbumImages, getPortfolioImages } from "../utils/albums";
import { Image } from "astro:assets";

// Fetch the portfolio album

// Ensure the portfolio album exists

// Fetch images for the portfolio album
// const images = await getAlbumImages(portfolio.id);
const images = await getPortfolioImages();
---

<BaseLayout pageTitle="Minimally Processed Photography" class="text-center p-8 md:p-16">
  <div class="text-center mx-4 md:text-xl py-4 sm:py-8 sm:px-12 md:px-20 text-gray-600 "><p>Welcome to my photography site. Please browse my photos and blog posts (coming soon). Join me on my photography journey!</p></div>
  <div class="text-center">

    <div
      class="mx-auto container px-4 sm:px-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 text-center gap-4"
    >
      {images && images.map((image) => (
        <Image
          src={image.src}
          alt={`Image from portfolio album`}
          class="rounded border border-transparent mb-4 hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
          loading="lazy"
        />
      ))}
    </div>
  </div>
  <div>
  </div>
</BaseLayout>