---
const currentYear = new Date().getFullYear();
---
<footer class="bg-[#FFFBFC] text-[#24272B] py-6">
    <div class="container mx-auto flex flex-col items-center">
        <div class="flex space-x-4 mt-4">
            <!-- Bluesky Icon -->
            <a href="https://bsky.app/profile/minimallyprocessed.bsky.social" target="_blank" rel="noopener noreferrer" class="hover:text-blue-600">
                <img src="/assets/social_icons/Brand-Bluesky--Streamline-Tabler.svg" alt="Bluesky" class="h-6 w-6" />
            </a>
            <!-- GitHub Icon -->
            <a href="https://www.instagram.com/minimally_processed" target="_blank" rel="noopener noreferrer" class="hover:text-blue-600">
                <img src="../../assets/social_icons/Brand-Instagram--Streamline-Tabler.svg" alt="GitHub" class="h-6 w-6" />
            </a>
        </div>
        <p class="text-sm">© {currentYear} Nithin Anand. All rights reserved.</p>
    </div>
</footer>