---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Navigation />
    </nav>
</header>
<style>
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Ensure the nav spans the full width */
    }
</style>