---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/posts/">Blog</a>
    <a href="/gallery/">Photo Gallery</a>
</div>

<style>
    a {padding-right: 5px;}
</style>